xsd/qif4-wip/QIFApplications/QIFResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document is part of QIF 4.0, an open, industry-wide standard -->
<!-- established by the Digital Metrology Standards Consortium.        -->
<!-- This document shall not be used in any manner to claim any        -->
<!-- proprietary rights to such information, such as rights to a       -->
<!-- patent, trademark, or copyright.                                  -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://qifstandards.org/xsd/qif4"
  xmlns:t="http://qifstandards.org/xsd/qif4"
  targetNamespace="http://qifstandards.org/xsd/qif4"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="4devel.0.17">

  <xs:include schemaLocation="../QIFLibrary/Traceability.xsd"/>
  <xs:include schemaLocation="../QIFLibrary/Characteristics.xsd"/>
  <xs:include schemaLocation="../QIFLibrary/Features.xsd"/>

  <xs:annotation>
    <xs:documentation>
      This QIFResults.xsd schema file defines the global Results element,
      which is the root of a measurement results tree. The schema file also
      contains the definitions of some of the types used in a measurement
      results tree and a key/keyref pair that constrains references used in
      measurement results.
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="MeasurementResultsType">
    <xs:annotation>
      <xs:documentation>
        The MeasurementResultsType defines information about measurement
        results.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="Attributes"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionTraceability"
                  type="InspectionTraceabilityType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionTraceability element gives traceability
            information that applies this set of measurement results.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ThisResultsInstanceUUID"
                  type="UUIDChoiceType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ThisResultsInstanceUUID element uniquely
            identifies the measurement results. Different versions of the
            measurement results shall have different ThisResultsInstanceUUID
            elements. If a UUIDAssignment is used, it shall be generated
            using a widely accepted UUID generator.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExternalFileReferenceIds"
                  type="ArrayReferenceType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ExternalFileReferenceIds element is a list of
            the ids of references to additional files created in the
            measurement process, e.g. photos. Each referenced file
            shall be in the OtherFileOrWebReferences of the QIFDocument.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuredFeatures"
                  type="FeatureMeasurementsType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasuredFeatures element gives information about
            the features used in the measurement results.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuredPointSets"
                  type="MeasuredPointSetsType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The MeasuredPointSets element is a list of measured
            points sets which may be referenced by feature measurements.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="MeasuredCharacteristics"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasuredCharacteristics element gives information
            about the characteristics used in the measurement results.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActualTransforms"
                  type="TransformListType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ActualTransforms element gives information about
            the actual transforms used in the measurement results. These
            transforms may represent actual coordinate system transforms or
            actual datum reference frame transforms.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="CoordinateSystemActualTransformAssociations"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CoordinateSystemActualTransformAssociations
            element gives information about the association of actual
            transforms with coordinate systems.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionStatus"
                  type="InspectionStatusType">
        <xs:annotation>
          <xs:documentation>
            The InspectionStatus element reports the status of the
            MeasurementResults.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActualComponentIds"
                  type="ArrayReferenceType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The ActualComponentIds element is the list of actual component
            QIF ids.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraceabilityStatement"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional TraceabilityStatement element is for the
            statement of metrological traceability required for a
            calibration certificate by ISO 17025.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementResourceIds"
                  type="ArrayReferenceType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasurementResourceIds element is a list of
            the QIF ids of measurement resources used in obtaining the
            measurement results. The values in this list apply if
            resource ids are not identified at a more detailed level,
            for example in a MeasurePoint, MeasuredPointSet, or
            characteristic measurement. Resource ids identified at a
            more detailed level are not required to be in this list.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id"
                  type="QIFIdType"
                  use="required">
      <xs:annotation>
        <xs:documentation>
          The id attribute is the QIF id of the measurement results, used
          for referencing.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="MeasurementResultsSetType">
    <xs:annotation>
      <xs:documentation>
        The MeasurementResultsSetType defines a set of measurement
        results.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeasurementResults"
                  type="MeasurementResultsType"
                  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each MeasurementResults element is a measurement results in the
            set.
          </xs:documentation>
        </xs:annotation>

<!-- start key and keyref for QIF ids of actual DRF Transforms -->

        <xs:key name="DRFTransformActualIdKey">
          <xs:annotation>
            <xs:documentation>
              The DRFTransformActualIdKey collects all QIF ids of actual
              DRF transforms in this MeasurementResults.
            </xs:documentation>
          </xs:annotation>
          <xs:selector xpath="t:ActualTransforms/t:Transform"/>
          <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="DRFTransformActualIdKeyref"
          refer="DRFTransformActualIdKey">
          <xs:annotation>
            <xs:documentation>
              The DRFTransformActualIdKeyref requires that a
              DRFTransformActualId located anywhere in this
              MeasurementResults be present in the DRFTransformActualIdKey.
            </xs:documentation>
          </xs:annotation>
          <xs:selector
            xpath="t:MeasuredCharacteristics/t:CharacteristicMeasurements/t:*
                 | t:MeasuredCharacteristics/t:CharacteristicMeasurements/t:*
                  /t:*"/>
          <xs:field xpath="t:DRFTransformActualId"/>
        </xs:keyref>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
                  type="NaturalType"
                  use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of measurement results in
          this set.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ResultsType">
    <xs:annotation>
      <xs:documentation>
        The ResultsType is the top level type for QIF measurement results.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Version"
                  type="VersionType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Version element gives version information about
            the measurements results.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementResultsSet"
                  type="MeasurementResultsSetType">
        <xs:annotation>
          <xs:documentation>
            The MeasurementResultsSet element is a set of collections
            of measurement results.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="ActualComponentSets"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ActualComponentSets element is a collection
            of data associated with the actual components of one or
            more manufactured products.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionTraceability"
                  type="InspectionTraceabilityType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionTraceability element gives traceability
            information that applies to all measurement results.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActualComponentSetsType">
    <xs:annotation>
      <xs:documentation>
        The ActualComponentSetsType describes a container for storing a
        list of actual component sets. Each instance of a product may have
        multiple actual components. This type collects such information
        over multiple instances of a product.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ActualComponentSet"
                  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each ActualComponentSet element is an actual component set.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
                  type="NaturalType"
                  use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of actual component sets
          in this list.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ActualComponentSetType">
    <xs:annotation>
      <xs:documentation>
        The ActualComponentSetType describes the container for
        storing data of actual components.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ActualComponent"
                  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each ActualComponent element is an actual component.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
                  type="NaturalType"
                  use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of actual components in
          this set.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ActualComponentType">
    <xs:annotation>
      <xs:documentation>
        The ActualComponentType defines data of an actual component,
        which is a physical object.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="Attributes"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SerialNumber element is a label of a specific
            actual component of a given type. Components with the same
            ModelNumber have different SerialNumbers. The combination of
            ModelNumber and SerialNumber shall differentiate a given
            actual component from all other actual components in a QIF
            application instance file.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalChanges"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional AdditionalChanges element is a record of any
            changes to the product beyond what is recorded in the product
            model. The information recorded here may be used for the
            Additional Changes field of an AS9102A form.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status"
                  type="InspectionStatusType">
        <xs:annotation>
          <xs:documentation>
            The Status element gives the inspection status of the actual
            component.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Traceability"
                  type="ActualProductTraceabilityType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Traceability element gives traceability
            information for an actual component.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AsmPathId"
                  type="QIFReferenceType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional AsmPathId element is the QIF id of the assembly
            path of this component.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id"
                  type="QIFIdType"
                  use="required">
      <xs:annotation>
        <xs:documentation>
          The id attribute is the QIF id of the actual component data, used
          for referencing.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="Results"
              type="ResultsType">
    <xs:annotation>
      <xs:documentation>
        The global Results element is a the top-level QIF element for
        measurement results.
      </xs:documentation>
    </xs:annotation>

    <xs:key name="ActualComponentIdKey">
      <xs:annotation>
        <xs:documentation>
          The ActualComponentIdKey collects all QIF ids of
          ActualComponent/s.
        </xs:documentation>
      </xs:annotation>
      <xs:selector
        xpath="t:ActualComponentSets/t:ActualComponentSet/t:ActualComponent"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <xs:keyref name="ActualComponentKeyref"
      refer="ActualComponentIdKey">
      <xs:annotation>
        <xs:documentation>
          The ActualComponentKeyref requires that an actual component Id
          located anywhere be present in the ActualComponentIdKey.
        </xs:documentation>
      </xs:annotation>
      <xs:selector
        xpath="t:MeasurementResultsSet/t:MeasurementResults
              /t:ActualComponentIds/t:Id
             | t:MeasurementResultsSet/t:MeasurementResults
              /t:MeasuredCharacteristics/t:CharacteristicMeasurements/t:*
              /t:ActualComponentId
             | t:MeasurementResultsSet/t:MeasurementResults
              /t:MeasuredFeatures/t:*/t:ActualComponentId"/>
      <xs:field xpath="."/>
    </xs:keyref>
  </xs:element>

  <xs:element name="ActualComponentSets"
              type="ActualComponentSetsType">
    <xs:annotation>
      <xs:documentation>
        The global ActualComponentSets element is a collection of data
        associated with the actual components of multiple manufactured
        products.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="ActualComponentSet"
              type="ActualComponentSetType">
    <xs:annotation>
      <xs:documentation>
        The global ActualComponentSet element is a collection of data
        associated with the actual components of a single manufactured
        product.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="ActualComponent"
              type="ActualComponentType">
    <xs:annotation>
      <xs:documentation>
        The global ActualComponent element is the data of an actual
        component.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
