xsd/qif4-wip/QIFLibrary/PrimitivesPD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document is part of QIF 4.0, an open, industry-wide standard -->
<!-- established by the Digital Metrology Standards Consortium.        -->
<!-- This document shall not be used in any manner to claim any        -->
<!-- proprietary rights to such information, such as rights to a       -->
<!-- patent, trademark, or copyright.                                  -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://qifstandards.org/xsd/qif4"
  xmlns:t="http://qifstandards.org/xsd/qif4"
  targetNamespace="http://qifstandards.org/xsd/qif4"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="4devel.0.17">

  <xs:include schemaLocation="../QIFLibrary/Primitives.xsd"/>

  <xs:annotation>
    <xs:documentation>
      This PrimitivesPD.xsd schema file defines a set of miscellaneous
      basic types used in other schema files, primarily for product
      definition.
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="QuaternionType">
    <xs:annotation>
      <xs:documentation>
        The QuaternionType defines a quaternion.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Value"
                  type="D4Type">
        <xs:annotation>
          <xs:documentation>
            The Value element is a list of four doubles that define
            the quaternion in the following way: the first double is
            the scalar part (cos(theta/2)), the second, third, and
            fourth doubles are the imaginary/"vector" part,
            (sin(theta/2) * axis).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NodeBaseType"
                  abstract="true">
    <xs:annotation>
      <xs:documentation>
        The abstract NodeBaseType is the base type for model elements.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="label"
                  type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The optional label attribute is the model entity "nameplate".
          Normally it can be seen at the entity item in the project tree.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="NodeWithIdBaseType"
                  abstract="true">
    <xs:annotation>
      <xs:documentation>
        The abstract NodeWithIdBaseType is the base type for model elements
        with id.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="NodeBaseType">
        <xs:sequence>
          <xs:element ref="Attributes"
                      minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                The optional Attributes element contains user defined
                attributes (typified, binary array, or XML structured).
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id"
                      type="QIFIdType"
                      use="required">
          <xs:annotation>
            <xs:documentation>
              The required id attribute is the unique model entity
              identifier.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="TransparencyType">
    <xs:annotation>
      <xs:documentation>
        The TransparencyType is the transparency of an object or a
        display style.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ShininessType">
    <xs:annotation>
      <xs:documentation>
        The ShininessType is the shininess of a display style mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AmbientType">
    <xs:annotation>
      <xs:documentation>
        The AmbientType is the ambient light of a display style mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReflectionType">
    <xs:annotation>
      <xs:documentation>
        The ReflectionType is the reflectivity of a display style mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DiffusionType">
    <xs:annotation>
      <xs:documentation>
        The DiffusionType is the diffusion of a display style mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IntensityType">
    <xs:annotation>
      <xs:documentation>
        The IntensityType is the color intensity type of a display style
        mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="AttrDrawable">
    <xs:annotation>
      <xs:documentation>
          The AttrDrawable attributeGroup is a collection of attributes
          representing properties of drawable objects.
        </xs:documentation>
    </xs:annotation>
    <xs:attribute name="color"
                  type="ColorType">
      <xs:annotation>
        <xs:documentation>
          The optional color attribute defines the RGB color property
          of a model entity.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="transparency"
                  type="TransparencyType"
                  default="0.0">
      <xs:annotation>
        <xs:documentation>
          The optional transparency attribute defines the transparency
          property of a model entity.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hidden"
                  type="xs:boolean"
                  default="0">
      <xs:annotation>
        <xs:documentation>
          The optional hidden attribute defines the visibility property
          of a model entity in the graphical window.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="size"
                  type="DoublePositiveType">
      <xs:annotation>
        <xs:documentation>
          The optional size attribute defines a recommended size for
          visualization of an infinite drawable element such as plane,
          cylinder, axis, etc., or objects without explicit geometric
          parameters (e.g. coordinate system).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="DrawableBaseType"
                  abstract="true">
    <xs:annotation>
      <xs:documentation>
        The abstract DrawableBaseType is the base type for drawable
        elements. It contains data necessary for a model entity
        visualization.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="NodeWithIdBaseType">
        <xs:attributeGroup ref="AttrDrawable"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EdgeOrientedType">
    <xs:annotation>
      <xs:documentation>
        The EdgeOrientedType is a reference to an edge with a given
        orientation.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ElementReferenceType">
        <xs:attribute name="turned"
                      type="xs:boolean"
                      default="0">
          <xs:annotation>
            <xs:documentation>
              The optional turned attribute shows if the referenced
              edge shall be reversed from the original edge orientation.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="LineStyleEnumType">
    <xs:annotation>
      <xs:documentation>
        The LineStyleEnumType enumerates values that describe line styles.
        The physical appearance corresponding to each enumeration value is
        shown in the text part of the QIF 4.0 standard.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="SOLID"/>
      <xs:enumeration value="DOT"/>
      <xs:enumeration value="DASH"/>
      <xs:enumeration value="DASH_DOT"/>
      <xs:enumeration value="DASH_DOT_DOT"/>
      <xs:enumeration value="DASH_DOT_DOT_DOT"/>
      <xs:enumeration value="DASH_DASH_DOT"/>
      <xs:enumeration value="DASH_DASH_DOT_DOT"/>
      <xs:enumeration value="DASH_DASH_DOT_DOT_DOT"/>
      <xs:enumeration value="SHORT_DASH"/>
      <xs:enumeration value="LONG_DASH"/>
      <xs:enumeration value="MEDIUM_LONG_DASH"/>
      <xs:enumeration value="MEDIUM_DASH_SHORT_DASH_SHORT_DASH"/>
      <xs:enumeration value="LONG_DASH_SHORT_DASH"/>
      <xs:enumeration value="LONG_DASH_SHORT_DASH_SHORT_DASH"/>
      <xs:enumeration value="LONG_DASH_DOT_DOT"/>
      <xs:enumeration value="LONG_DASH_DOT"/>
      <xs:enumeration value="MEDIUM_DASH_DOT_SHORT_DASH_DOT"/>
      <xs:enumeration value="SPARSE_DOT"/>
      <xs:enumeration value="CENTERLINE"/>
      <xs:enumeration value="PHANTOM"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="LineStyleType">
    <xs:annotation>
      <xs:documentation>
        The LineStyleType defines a line style.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="LineStyleEnumType">
        <xs:attribute name="thickness"
                      type="xs:positiveInteger"
                      default="1">
          <xs:annotation>
            <xs:documentation>
              The optional thickness attribute is the line thickness in
              pixels.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
